@font-face {
    font-family: 'ArvoBold';
    src: url('fonts/ArvoBold.eot');
    src: url('fonts/ArvoBold.eot') format('embedded-opentype'),
    url('fonts/ArvoBold.woff2') format('woff2'),
    url('fonts/ArvoBold.woff') format('woff'),
    url('fonts/ArvoBold.ttf') format('truetype'),
    url('fonts/ArvoBold.svg#ArvoBold') format('svg');
}

@font-face {
    font-family: 'ArvoRegular';
    src: url('fonts/ArvoRegular.eot');
    src: url('fonts/ArvoRegular.eot') format('embedded-opentype'),
    url('fonts/ArvoRegular.woff2') format('woff2'),
    url('fonts/ArvoRegular.woff') format('woff'),
    url('fonts/ArvoRegular.ttf') format('truetype'),
    url('fonts/ArvoRegular.svg#ArvoRegular') format('svg');
}


* {
    margin: 0;
}

header {
    border: 20px solid #af2024;
    margin-bottom: 21px;
}

.content {
    max-width: 960px;
    margin: auto;
}

.bg {
    background-image: url("../images/bg.png");
}

img {
    position: relative;
    z-index: 1;
}

.rectangle {
    width: 280px;
    height: 77px;
    background-color: #af2024;
    border-right: #0a0203 solid 3px;

    position: relative;
    top: -92px;
    left: 70px;
    z-index: 0;


}

.video-area {
    max-width: 710px;
    margin: auto;
    background-color: white;
}

h1 {
    font-family: 'ArvoBold', sans-serif;
    font-size: 20px;
    font-weight: normal;
    color: white;
    background-color: #98161b;

    padding: 30px 15px 28px;
}

.box {
    padding: 60px 75px;
}

h2, h3 {
    font-size: 13px;
    font-weight: normal;
    display: inline-block;
}

h2 {
    color: #98161b;
    font-family: 'ArvoBold', sans-serif;
}

h2::after {
    content: " ";
    border-bottom: 2px dotted #98161b;
    max-width: 43px;
    display: block;
    margin: 18px 0;
}

h3 {
    font-family: 'ArvoRegular', sans-serif;
    color: #7d7d7d;
}

p {
    font-family: 'ArvoRegular', sans-serif;
    font-size: 12px;
    line-height: 18px;
    color: #98161b;
}

section.video {
    background-color: #e7e7e7;
    max-width: 570px;
    height: 350px;
    margin: 0 auto 50px;
    position: relative;
}

span.play {
    display: block;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-left: 45px solid #98161b;
    border-bottom: 25px solid transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -20px;
}